*{
    padding: 0;
    margin: 0;
    box-sizing: none;
}

#header {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: grey;
    padding: 5px;
    border: 1px solid darkslategray;

}
.navigation {
    font-family: Arial;
    text-align: center;
}

/* Use 
display grid
grid-template-columns
gird-column-start
*/

#container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color:rosybrown;
}

#middle-column {
    padding-top: 10px;
    grid-column-start: 1;
    background-color: lightblue;
    height: 1000px;
}
