/*
Use page_1_style as an example for what to do here. You need to add properties
*/

body {
    background-color: lightblue;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: none;
}

#header {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: grey;
    padding: 5px;
    border: 1px solid darkslategray;

}
.navigation {
    font-family: Arial;
    text-align: center;
}

#middle-column {
    padding-top: 5px;
    background-color: lightblue;
    height: 100px;
    gap: 3px;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color:lightblue;
}

#container {
    padding: 5px;
    gap: 0px; /*Play with this value*/
}

.item {
    padding: 10px;
    background-color: orange;
    border: 1px solid black;
    text-align: center;
}