body {
    background-color:rosybrown;
}

/* Use 
display grid
grid-template-columns
gird-column-start
gap
*/

/*
Combine styles from page_1_style and page_2_style
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: none;
}

#header {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: grey;
    padding: 5px;
    border: 1px solid darkslategray;

}
.navigation {
    font-family: Arial;
    text-align: center;
}

#middle-column {

    padding-top: 10px;
    height: 10px;
    gap: 3px;
    display: grid;
    grid-column-start: 2;
    background-color:lightskyblue;
}

#container {
    background-color:rosybrown;
    display: grid;
    grid-template-columns: auto auto auto;
}

.item-holder {
    gap: 2px;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: lightskyblue;
    padding: 5px;
}
.item {
    padding: 10px;
    background-color: orange;
    border: 1px solid black;
    text-align: center;
}